@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.landing-page__container {
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
